:root {
   --colorMedium: #6f1bde;
   --colorClear: #eddcfa;
   --colorDark: #2d024f;
}

* {
   box-sizing: border-box;
   margin: 0;
   padding: 0;
}

body {
   display: flex;
   flex-flow: column nowrap;
   min-width: 740px;
   background: var(--colorClear);
}

header,
#result {
   flex: 1 0;
   justify-content: center;
   align-items: center;
   align-content: stretch;
   min-height: 6rem;
   background: var(--colorDark);
}

h1,
h2 {
   flex: 1;
   font-family: 'Vollkorn', serif;
   line-height: 6rem;
   text-align: center;
   color: #fff;
}

h2 {
   color: var(--colorDark);
}

main {
   flex-flow: column nowrap;
   align-self: stretch;
   flex: 9 0;
}

section.choice {
   flex: 3 0;
   width: fit-content;
   margin: auto;
}

button {
   height: 236px;
   width: 220px;
   line-height: 100%;
   font-size: 28px;
   font-weight: 900;
   color: transparent;
   margin: 6px;
   border: 6px solid var(--colorMedium);
   background-color: var(--colorClear);
   outline: none;
}

button:hover {
   border-color: var(--colorDark);
   color: var(--colorClear);
}

button:active {
   background-blend-mode: overlay;
}

.pedra {
   background: url('img/pedra.png'), var(--colorClear);
}

.papel {
   background: url('img/papel.png'), var(--colorClear);
}

.tesoura {
   background: url('img/tesoura.png'), var(--colorClear);
}

.comp {
   display: none;
   width: 220px;
   height: 236px;
   margin: auto;
   border: 6px solid gray
}

#result {
   flex: 3 0;
   width: 100%;
   margin-top: 40px;
   position: fixed;
   bottom: 0;
}